Repository hyejungg/WishBoard, pull requests merged in 2021-08, with the labels that each got.

#199 Feature:#156
  app/src/main/java/com/hyeeyoung/wishboard/adapter/NotiAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/add/LinkSharingActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/ItemDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/model/WishItem.java
  app/src/main/java/com/hyeeyoung/wishboard/util/DateFormatUtil.java
  app/src/main/java/com/hyeeyoung/wishboard/util/NumberPickerUtil.java
  app/src/main/java/com/hyeeyoung/wishboard/util/Util.java
  app/src/main/res/layout/activity_item_detail.xml
  app/src/main/res/layout/activity_link_sharing.xml
  app/src/main/res/layout/fragment_noti.xml
  app/src/main/res/values/array.xml
Labels: mod, notification

#200 Mod:#155
  app/build.gradle
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/FolderDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/DeleteFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/EditFolderDiolog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/MoreFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/model/SharedFolderVM.java
  app/src/main/res/layout/folder_more.xml
  app/src/main/res/layout/fragment_folder.xml
Labels: mod, folder

#202 Mod:#201
  app/src/main/res/layout/folder_item.xml
  app/src/main/res/layout/fragment_folder.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_new_item.xml
  app/src/main/res/layout/fragment_noti.xml
  app/src/main/res/layout/noti_item.xml
Labels: mod, ui

#203 Feature:#156
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/home/HomeFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/model/NotiItem.java
  app/src/main/java/com/hyeeyoung/wishboard/noti/NotiFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/noti/NotiSettingActivity.java
  app/src/main/res/drawable/custom_switch_background.xml
  app/src/main/res/drawable/custom_thumb.xml
  app/src/main/res/layout/activity_noti_setting.xml
  app/src/main/res/layout/fragment_noti.xml
Labels: feature

#205 Add:#201
  app/src/main/java/com/hyeeyoung/wishboard/model/SharedItemVM.java
  app/src/main/res/drawable/background_cart_item_cnt.xml
Labels: mod, ui

#208 Mod#201
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderListAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/cart/CartActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/config/SharedFolderVM.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/FolderDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/DeleteFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/EditFolderDiolog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderFragment.java
  app/src/main/res/layout/activity_cart.xml
  app/src/main/res/layout/activity_folder_list.xml
  app/src/main/res/layout/fragment_folder.xml
Labels: hotfix, ui, cart

#207 Mod:#155
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderListAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/config/SharedFolderVM.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/FolderDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/DeleteFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/EditFolderDiolog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderFragment.java
  app/src/main/res/layout/activity_folder_list.xml
  app/src/main/res/layout/fragment_folder.xml
Labels: mod, folder, ui

#209 Mod:#155
  app/src/main/java/com/hyeeyoung/wishboard/MainActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderListAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/FolderDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/EditFolderDiolog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderListActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/MoreFolderDialog.java
  app/src/main/res/layout/folder_edit.xml
  app/src/main/res/layout/folder_list_item.xml
  app/src/main/res/layout/fragment_new_item.xml
Labels: mod, folder, ui

#212 Mod:#156
  app/src/main/java/com/hyeeyoung/wishboard/adapter/NotiAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/config/SharedItemVM.java
  app/src/main/java/com/hyeeyoung/wishboard/model/NotiItem.java
  app/src/main/java/com/hyeeyoung/wishboard/model/SharedItemVM.java
  app/src/main/java/com/hyeeyoung/wishboard/noti/NotiFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/remote/IRemoteService.java
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/layout/fragment_noti.xml
Labels: mod, notification, ui

#213 Feature:#156
  app/src/main/java/com/hyeeyoung/wishboard/add/EditItemActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/config/ResultCode.java
  app/src/main/java/com/hyeeyoung/wishboard/config/SharedItemVM.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/ItemDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/home/HomeFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/model/NotiItem.java
  app/src/main/java/com/hyeeyoung/wishboard/noti/NotiSettingActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/remote/IRemoteService.java
  app/src/main/res/layout/activity_item_detail.xml
  app/src/main/res/layout/fragment_new_item.xml
Labels: feature, notification

#214 Mod#155
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderListAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/add/EditItemActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/config/ResultCode.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/ItemDetailActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/FolderListActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/model/WishItem.java
  app/src/main/res/layout/fragment_new_item.xml
  node_server/routes/folder.js
Labels: mod, folder

#215 Fix:#155
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/adapter/FolderListAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/add/EditItemActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/add/NewItemFragment.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/DeleteFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/EditFolderDiolog.java
  app/src/main/java/com/hyeeyoung/wishboard/folder/MoreFolderDialog.java
  app/src/main/java/com/hyeeyoung/wishboard/model/FolderItem.java
  app/src/main/java/com/hyeeyoung/wishboard/remote/IRemoteService.java
  app/src/main/res/layout/folder_edit.xml
  node_server/routes/folder.js
  node_server/routes/item.js
Labels: mod, folder

#216 Feature:#156
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hyeeyoung/wishboard/add/LinkSharingActivity.java
  app/src/main/java/com/hyeeyoung/wishboard/noti/NotificationBroadcastReceiver.java
  app/src/main/java/com/hyeeyoung/wishboard/service/FireBaseMessagingService.java
  app/src/main/java/com/hyeeyoung/wishboard/service/NotiWorker.java
  app/src/main/java/com/hyeeyoung/wishboard/service/ScheduledWorker.java
  app/src/main/java/com/hyeeyoung/wishboard/util/NotificationUtil.java
  node_server/routes/noti.js
Labels: feature, notification

#218 Mod:#201
  app/src/main/java/com/hyeeyoung/wishboard/adapter/ItemAdapter.java
  app/src/main/java/com/hyeeyoung/wishboard/detail/ItemDetailActivity.java
Labels: mod, ui
